section, aside, header, footer {
  padding: 0 10px;
}

@media (min-width: 640px){
  section, aside,  header, footer {
    padding: 0 calc(50vw - 310px);
  }
}

@media (min-width: 900px){
  section, aside,  header, footer {
    padding: 0 calc(50vw - 410px);
  }
}

@media (min-width: 1260px) {
  section, aside,  header, footer {
    padding: 0 calc(50vw - 590px);
  }
}

@media (min-width: 1800px){
  section, aside,  header, footer {
    padding: 0 calc(50vw - 590px);
  }
}